:root {
    scroll-behavior: smooth;
}

.root {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
/* Header */
.header {
    display: flex;
    padding-top: 29px;
    background-color: #F6F2F2;
}

.site-menu {
    display: flex;
    width: 1249px;
    min-height: 89px;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);   
}

.site-menu__list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0;
    padding: 0;
    margin-left: -50px;
    list-style: none;
}

.site-menu__item {
    display: flex;
    min-height: 89px;
}

.site-menu__link {
    display: flex;
    align-items: center;    
    padding: 12px 24px 0 24px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
    letter-spacing: 1.2px;
    transition: .3s ease;       
}

.site-menu__link:hover {
    background-color: #ff3f40;
    transition: .3s ease;
}

.site-menu__active {
    background-color: #ff3f40;
}

/* Main */
/* Intro */
.intro {
    display: block;
    width: 100%;
    background-color: #F6F2F2;
    padding: 102px 0 110px;     
}

.intro__content {
    display: flex;
    width: 1249px;
    margin: 0 auto;    
    justify-content: space-between;    
}

.intro__info {
    width: 595px;    
}

.intro__heading {
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: -15px 0 18px 0;    
}

.intro__special {
    letter-spacing: 6px;
    margin: 3px 0;
}

.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 10px 0 59px 0;    
}

.intro__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    min-height: 55px;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    background-color: #FF2D2D;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;   
    Letter-spacing: 1px; 
    transition: .3s ease;
    margin-left: -2px;  
}

.intro__video {
    width: 551px;
    height: 356px;
    object-fit: cover; 
    box-shadow: -2.2px -13.8px 73px
     rgba(0, 0, 0, 0.29);
}

/* Services */
.services {
    display: flex;
    width: 1251px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 98px 0 62px;
    border-bottom: 2px solid #ececec;
    box-sizing: border-box;    
}

.services__info {
    width: 539px;
}

.services__heading {
    margin: 0;
    margin-bottom: 32px;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
}

.services__about {
    margin: 0;
    margin-bottom: 57px;   
    line-height: 28px;
}

.services__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    min-height: 55px;
    color: #FF2D2D;
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;    
    border-radius: 5px;
    border: 2px solid #FF2D2D;
    text-decoration: none;
    box-sizing: border-box;   
    Letter-spacing: 0.8px; 
    transition: .3s ease;
}

.services__link:hover,.intro__action:hover {
    background-color: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    border: 2px solid #3a7999;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    width: 610px; 
    list-style: none;    
}

.services__item_managment {
    width: 303px;
    margin: 0; 
    margin-top: -5px;
    box-sizing: border-box;
}

.services__item_design {
    width: 290px;
    margin: 0; 
    margin-top: -5px;        
    box-sizing: border-box;
}

.services__item_branding {
    width: 305px; 
    margin: 0; 
    margin-top: 9px;
    box-sizing: border-box;
}

.services__item_animation {
    width: 290px; 
    margin: 0; 
    margin-top: 8px;
    box-sizing: border-box;
}

.services__item_icon_managment::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../images/service__item_managment.svg') ;
    background-repeat: no-repeat;
    margin-bottom: 45px;
}

.services__item_icon_design::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../images/service__item_disign.svg') ;
    background-repeat: no-repeat;
    margin-bottom: 45px;
}

.services__item_icon_branding::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../images/service__item_branding.svg') ;
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-bottom: 45px;
}

.services__item_icon_animation::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../images/service__item_animation.svg') ;
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-bottom: 45px;
}

.services__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.4px;
}

.services__text {
    line-height: 28px;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;      
}

/* Features */
.feature {    
    margin: 0 auto;    
    width: 1249px;
    box-sizing: border-box;
    padding: 120px 0 65px 0;    
}

.feature__header {
    margin: 0 auto; 
    margin-left: 35px;
}

.feature__heading {  
    display: block;  
    text-align: center;     
    font-size: 42px;   
    line-height: 1.2px; 
    letter-spacing: 0.39px;
    font-weight: 700;
    text-transform: uppercase; 
    margin: 0 0 40px 0;     
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);      
}

.feature__about {  
    width: 537px;    
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 28px;
}

.feature__line {
    margin: 0 auto;
    width: 130px;
    height: 2.19px;
    background-color: rgba(255, 45, 45, 1);
    border: 0;
    margin-bottom: 90px;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    margin-left: 35px;    
}

.filter__list {    
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 43px;    
    margin: 0 0 58px 10px;
}

.filter_link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;    
}

.filter__link_active {
    color: #ff2d2d;
    transition: .3s ease;
}

.filter_link:hover {
    color: #ff2d2d; 
    transition: .3s ease;    
}

.feature__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);       
    gap: 19px;      
}

.feature__product {
    margin: 0;
    width: 297px;
    height: 290px;
    object-fit: cover;
    object-position: 0% 50%;
    transition: 1s; 
    cursor: pointer;

}

.feature__product:hover {
    transform: scale(1.5); 
}

/* Team */
.team {
    display: block;
    width: 1249px;
    margin: 0 auto;       
}
.team__heading {
    display: block; 
    padding: 0;
    text-align: left;     
    font-size: 42px;   
    line-height: 1.2px; 
    letter-spacing: 0.39px;
    font-weight: 700;
    text-transform: uppercase; 
    margin: 92px 0 44px 0;  
}

.team__text {
    width: 450px;
    line-height: 28px;
    margin-bottom: 33px;
}

.team__line {
    display: flex;    
    width: 130px;
    height: 2.19px;       
    background-color: rgba(255, 45, 45, 1);
    border: 0;
    margin: 0; 
    margin-bottom: 67px;
}

.team__members {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
}

.team__lead-photo {  
    object-position: bottom;
    object-fit: contain;  
    width: 320px;
    height: 460px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    filter: blur(5px); 
    transition: 1s;
}

.team__lead-photo:hover {
    filter: blur(0);
    cursor: pointer;
}

.team__lead-main {
    width: 635px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0; 
    margin-top: 10px;     
}

.team__lead-name {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase; 
    margin: 0; 
    margin-bottom: 20px;   
}

.team__lead-about {
    line-height: 28px;
    margin: 0;
    margin-bottom: 40px;
}

.team__lead-social {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none; 
    gap: 25px; 
    margin: 0;  
    margin-bottom: 30px;
}

.team__lead-link {
    font-size: 18px;
    line-height: 24px;    
    font-style: italic;
    letter-spacing: 0.9px;
    color: #000;    
    text-decoration: none;
}

.team__lead-link:hover {
    color: #ff2d2d; 
    transition: .3s ease;    
}

.team__others {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: flex-end;
    gap: 20px
}

.team__other {
    position: relative;
    margin: 0;  
    cursor: pointer;  
}

.team__other-photo {
    display: block;    
    width: 198px;
    height: 217px; 
    padding: 0;
    margin: 0;     
}

.team__other-name {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
    color: #fff;
}

.team__other:hover .team__other-name:last-child {
    display: block;
}
